h1 {
    font-size: 50px;

}


#directions-text{ 
    font-size: 35px;
    font-style: normal;
    
}

#tostart-text{
  font-size: 25px;

}


  #computerguess-text{
      font-size: 25px;
      }

  #wins-text{
    font-size: 25px;
            
 }

 #losses-text{
    font-size: 25px;

 }
    #guessesleft-text{
     font-size: 25px;

    }

    #guessedletters-text{
    font-size: 25px;
}



body{
background-image: url( "psy.jpg");
background-size: cover;


}